resume-backend/main_setup/.terraform/
resume-backend/main_setup/terraform.tfvars
.DS_Store
/Users/oyaps/Documents/project/aws/crc/resume-backend/main_setup/.terraform/
/Users/oyaps/Documents/project/aws/crc/resume-backend/main_setup/terraform.tfvars